.Box{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    background-image: url('/assets/otp.avif'); 
  background-size: cover; 
  background-position: center center;
  width: 100vw;
  height: 100vh;
}
.form{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  height: 300px;
}
.form1{
    margin-bottom:25px ;
    width: 300px;
    height: 20px;
}
button {
  background-color: initial;
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 150px;
}

.button:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .button {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}